body{
    margin:0px;
    padding: 0px;
    text-align: center;
    background-image: url(https://cdn.pixabay.com/photo/2019/12/17/17/58/night-4702174_1280.jpg);
    background-position: center;
    background-repeat:repeat;
    background-size: cover;
    height: 100vh;
}

h1{
    font-size: 45px;
}

input{
    width: 75px;
    height: 80px;
    border-radius: 45px;
    margin: 10px;
    font-weight: bold;
    font-size: large;
}
.dhas{
    width: 400px;
    height: 60px;
    background-color: black;
    color: aliceblue;
    font-size: 30px;
}
.btn:hover{
    background-color: yellow;
    cursor: pointer;
}
.ss{
    color: aliceblue;
}